In [1]:
%matplotlib inline

# Simple Python exercises

**1**. Make a list of the numbers 1 to 10.

In [7]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**2**. Make a list of the first 10 square numbers.

In [9]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**3**. Make a list of the first 10 square numbers in reversed order.

In [10]:
[i**2 for i in range(1,11)][::-1]

[100, 81, 64, 49, 36, 25, 16, 9, 4, 1]

**4**. Repeat 3 but only keep the square numbers divisible by 4.

In [15]:
#??what this mean
for i in range(1,11):
    if i%4==0:
        print(i)
    else:
        print(3)

3
3
3
4
3
3
3
8
3
3

**5**. A Pythagoran triple is a tuple of 3 positive integers (a, b, c) such that $a^2 + b^2 =c ^2$. Find the unique Pythagorean triples where c is less than 20.

In [47]:
import math

for a in range(1,20):
    for b in range(1,20):
        c=math.sqrt(a**2+b**2)
        if (c % 1 ==0):
            print([a,b,c])
        if c>=20:
            break

[3, 4, 5.0]
[4, 3, 5.0]
[5, 12, 13.0]
[6, 8, 10.0]
[8, 6, 10.0]
[8, 15, 17.0]
[9, 12, 15.0]
[12, 5, 13.0]
[12, 9, 15.0]
[12, 16, 20.0]
[15, 8, 17.0]
[16, 12, 20.0]

In [46]:
5 % 2==0

False

In [151]:
dna = """
TTTAAATTCCCTGGCACCCGCTGGAGTTCTCGATTTCGAC
CAACCACGACGGTGTGATTCTGAATGTAGTTAGTATCTAC
CCAGAGCTCAGGTCATATCGCGCCAAGCATAAAGGTGGCT
GTTGAAAGTCGATGTCCGTATAAGTTCCGTTTCCTAATGA
"""

**6**. Remove any blank space characters including newlines in dna.

In [95]:
dna1=dna.replace('\n','')
dna1=dna1.replace ('\t','')

**7**. Find the unique bases in dna.

In [57]:
set(dna1)

{'A', 'C', 'G', 'T'}

**8**. Find the position of the first occrurence of 'C' in dna.

In [59]:
dna1.find('C')+1

0

**9**. Find the position of the second occurrence of 'G' in dna.

In [67]:
dna1.find('G',dna1.find('G')+1)+1 #??

14

**10**. What is the sequence of the complementary strand of DNA? Recall from grade school biology that A is complementary to T and C is complementary to G.

In [68]:
dna2=dna1.replace('A','t')
dna2=dna2.replace('C','g')
dna2=dna2.replace('T','A')
dna2=dna2.replace('G','C')
dna2=dna2.replace('t','T')
dna2=dna2.replace('g','G')
dna2

'AAATTTAAGGGACCGTGGGCGACCTCAAGAGCTAAAGCTGGTTGGTGCTGCCACACTAAGACTTACATCAATCATAGATGGGTCTCGAGTCCAGTATAGCGCGGTTCGTATTTCCACCGACAACTTTCAGCTACAGGCATATTCAAGGCAAAGGATTACT'

**11**. Can you print the complemntary DNA strand with only 40 characters to a line

Using regular Python

In [104]:
##??
dna3=dna1
for i in range(0,len(dna1),40):
    print(dna3[:40])
    dna3=dna3[40:]

TTTAAATTCCCTGGCACCCGCTGGAGTTCTCGATTTCGAC
CAACCACGACGGTGTGATTCTGAATGTAGTTAGTATCTAC
CCAGAGCTCAGGTCATATCGCGCCAAGCATAAAGGTGGCT
GTTGAAAGTCGATGTCCGTATAAGTTCCGTTTCCTAATGA

Using bash magic

In [152]:
#???
%%bash

printf dna | fold -w 40

dna

**12**. A 1-D random walk experiment starts from value 0, then either adds or subtracts 1 at each step. Run $n$ such random walks, each time recording the final value after $k$ steps. Show the counts of each final value. What is the mean and standard deviaiton of the final values?

Let $n$ = 10000 and $k=100$.  Use the standard libary package `random` to generate random steps.

In [146]:
import random
n=10000
k=100
a=0
b=[]
for j in range(n):
    for i in range(k):
     a=a+random.sample([-1,1],1)[0]
    b.append(a)

In [147]:
bmean=sum(b)/len(b)
bmean

338.7734

In [148]:
sum((float(t)-bmean)**2/len(b) for t in b)

86925.09025244007

()